<md-toolbar color="primary">
	<span>NgTraining</span>
    <button md-button><a [routerLink]="['/home']">Home</a></button>
    <button md-button><a [routerLink]="['/task/list']">Tasks</a></button>
    <span class="example-spacer"></span>
    <button md-button *ngIf="!authService.user" [routerLinkActive]="['active']">
    	<a [routerLink]="['/user/registration']">Registration</a></button>
    <button md-button *ngIf="!authService.user" [routerLinkActive]="['active']">
    	<a [routerLink]="['/user/login']">Log In</a></button>
    <div *ngIf="!!authService.user">
    	<span class="glyphicon glyphicon-user" aria-hidden="true"></span>
    		{{authService.user.name}}
    </div>
    <button md-button *ngIf="!!authService.user">
          <a (click)="authService.logout()">Log Out</a></button>
</md-toolbar> 
